activemq-data
amqstore
.classpath
.clover
derby-home
derby.log
.DS_Store
.externalToolBuilders
.gradle
.idea
*.iml
*.ipr
*.iws
*.jar
*.log
.metadata
.project
runner/equinox/org.eclipse.osgi/
.scala_dependencies
.settings
.springBeans
surefire*
*.swp
target
